# Fichiers sensibles / temporaires
/node_modules
/vendor
.env*
storage/*.key
/public/storage
/public/hot
/public/build

# Dossiers à versionner partiellement
!/public/docs/exemplaires-import-biens/
!/import_prospects.xlsx

# Mais on ignore tout le reste de /public/docs/
/public/docs/*

# Cache, logs, etc.
.phpunit.cache
.phpunit.result.cache
*.log
npm-debug.log
yarn-error.log

# IDEs
/.idea
/.vscode
/.fleet

# Système
*.swp
*.swo
.DS_Store
**uploads

# Déploiement
nginx/ssl/
deploy-wrapper.sh
get-api-url.sh
aws-deploy-ecs.sh
dev.sh
prod.sh
scheduler.sh
docker-compose.dev.yml
docker-compose.prod.yml
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
