files:
  "/etc/cron.d/laravel-scheduler":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root /usr/bin/docker exec $(/usr/bin/docker ps -q) php /var/www/artisan schedule:run >> /var/log/laravel-scheduler.log 2>&1

commands:
  01_restart_cron:
    command: systemctl restart crond || systemctl restart cron
    ignoreErrors: true